:root{
  color-scheme: light;
    /* ========== 主色与功能色 ========== */
  --color-primary: #5A7AA6;

  --color-danger: #C25A5A;
  --color-danger-secondary: #A86570;
  --color-danger-muted: #F0D8D8;
  --color-danger-faint: #F5E5E5;
  --color-check: #58ACA0;
  --color-success: #5A9568;
  --color-invalid-fg: #DE8888;
  --color-invalid-bg: #F7F4E8;
  --color-focus-ring: var(--color-primary);
  --color-syntax: #8ab4f8;
  --color-error-bg: #F7E5E5;

  /* ========== base ========== */
--base00: #F4F5F7;
--base01: #F2F4F7;
--base02: #EFF1F4;
--base03: #E9ECF0;
--base04: #EAEDEF;
--base05: #AFB8C2;
--base06: #89919C;
--base07: #6D7580;
--base08: #495058;
--base09: #353B42;
--base0A: #655690;
--base0B: #2A5491;
--base0C: #366096;
--base0D: #60508D;
--base0E: #942F55;
--base0F: #C25A5A;
--base0G: #3A70A3;
--base0S: rgb(from var(--color-primary) r g b / 35%);

  /* ========== UI 组件颜色 ========== */
  --hint-bg: #E7F0E4;
  --hint-icon-color: var(--color-success);
  --hint-border-color: var(--color-success);

  --popover-bg: var(--base00);
  --popover-color: var(--base09);
  --popover-shadow:
    0px 2px 8px #2E343B12,
    0px 12px 24px #2E343B0A;
  --popover-backdrop: rgba(46, 52, 59, 0.68);

  --control-bg-base: var(--base00);
  --control-bg: #E5E8EC;
  --control-bg-active: #DCE0E5;

  --btn-bg: transparent;
  --btn-hover-bg: var(--base03);
  --btn-active-bg: var(--control-bg-active);
  --btn-frame-hover-bg: #D8DCE2;
  --btn-frame-active-bg: #CCD1D8;
  --btn-github-bg: #2D333A;
  --btn-github-hover: #3A4149;
  --btn-bilibili-bg: #ED8DA3;
  --btn-bilibili-hover: #F29EB4;

  --list-item-hover-bg: var(--base03);
  --tree-item-hover-bg: var(--control-bg-active);

  --log-error-bg: var(--color-error-bg);
  --log-warning-bg: #FAF0D7;
  --log-border-color: #D0DBE8;

  --border-color: #D5DAE0;
  --border-color-hover: #B8BFC8;
  --border-draggable-color: #CAD7E6;

  --tabbar-border-color: var(--border-color);
  --tabbar-border-focus-color: #e2a62f;
  --tab-hover-bg: var(--base01);
  --tab-active-bg: var(--base00);
  --tab-caret-bg: var(--color-primary);
  
  --outline-base: #5A626B;

  --scrollbar-track-bg: #EFF1F4;
  --scrollbar-thumb-bg: #C2C6CC;
  --scrollbar-thumb-hover-bg: #9EA4AD;

  /* ========== 图标颜色 ========== */
  --icon-frame-color: #6B7280;
  --icon-color-text: #5A7AA6;
  --icon-color-link: #4FA6C5;
  --icon-color-list: #6E7ED8;
  --icon-color-codeBlock: #58BC6E;
  --icon-color-blockquote: #5A7AA6;
  --icon-color-horizontalRule: #EE9848;
  --icon-color-image: #EEC94E;
  --icon-color-table: #58ACA0;
  --icon-color-html: #33B68E;
  --icon-color-braces: #E0B63E;
  --icon-color-markdown: #5A8DDE;
  --icon-color-file: #6B7280;
  --icon-color-folder: #6AB1DE;
  --icon-color-new: #58ACA0;
  --icon-color-temp: #EE9848;
  --icon-color-modified: #E0A63E;
  --icon-color-delete: #DB5E5E;
  --icon-color-saved: #5A7AA6;
  --icon-color-log: #47474733;
  --icon-color-info: #5A7AA6;
  --icon-color-warning: #DC8848;
  --icon-color-error: #CB5853;
  --icon-color-latex: #8E56AE;

  /* ========== 图标交互状态 ========== */
  --icon-favorite-hover-fill: #EEC648;
  --icon-favorite-hover-stroke: #ECC03E;
  --icon-favorite-active-fill: #F2D876;
  --icon-favorite-active-stroke: #ECC03E;

  --icon-cheatsheet-hover-rect-fill: #475569;
  --icon-cheatsheet-hover-rect-stroke: #334155;
  --icon-cheatsheet-hover-path-stroke: #F1F5F9;
  --icon-cheatsheet-active-rect-fill: #334155;
  --icon-cheatsheet-active-rect-stroke: #1E293B;
  --icon-cheatsheet-active-path-stroke: #F1F5F9;

  --icon-log-hover-rect-fill: #475569;
  --icon-log-hover-rect-stroke: #334155;
  --icon-log-hover-line-stroke: #4ADE80;
  --icon-log-active-rect-fill: #334155;
  --icon-log-active-rect-stroke: #1E293B;
  --icon-log-active-line-stroke: #22C55E;

  --icon-theme-hover-fill: #E86E93;
  --icon-theme-hover-stroke: var(--icon-theme-hover-fill);
  --icon-theme-hover-circle: #E5F0DF;
  --icon-theme-active-fill: #E86E93;
  --icon-theme-active-stroke: var(--icon-theme-active-fill);
  --icon-theme-active-circle: #65CF8E;

  --icon-setting-hover-path-fill: #475569;
  --icon-setting-hover-path-stroke: #334155;
  --icon-setting-hover-circle: var(--base00);
  --icon-setting-active-path-fill: #334155;
  --icon-setting-active-path-stroke: #1E293B;
  --icon-setting-active-circle: var(--base00);

  --icon-about-hover-path: var(--base00);
  --icon-about-hover-circle-fill: #5A7AA6;
  --icon-about-hover-circle-stroke: #4D6D96;
  --icon-about-active-path: var(--base00);
  --icon-about-active-circle-fill: #4D6D96;
  --icon-about-active-circle-stroke: #405E83;

  /* ========== 编辑器颜色 ========== */
  --color-selection-blur: var(--color-primary-25);
  --color-pattern-grid: #E2E5E9;
  --color-pattern-line: #D5DAE0;
  --color-pattern-dots: #C9CFD6;
  --color-link: #3D73A6;
  --color-blockquote-border: #586069;
  --color-blockquote-text: var(--base07);
  --color-mark-bg: #FFF2BE;
  --color-mark-text: var(--base08);
  --color-table-bg: var(--base00);
  --color-table-header-bg: var(--base02);
  --color-table-border: var(--border-color);
  --color-pre-bg: var(--base02);
  --color-pre-border: var(--border-color);
  --color-code-bg: var(--base02);
  --color-code-border: var(--border-color);
  
  --color-search-result: light-dark(#ffff00, #ffff00);
  --color-search-result-current: light-dark(#ff9632, #ff9632);
}